= form_for @organization_type do |f|
  - if @organization_type.errors.any?
    #error_explanation
      %h2= "#{pluralize(@organization_type.errors.count, "error")} prohibited this organization_type from being saved:"
      %ul
        - @organization_type.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
