= form_for @portfolio_image do |f|
  - if @portfolio_image.errors.any?
    #error_explanation
      %h2= "#{pluralize(@portfolio_image.errors.count, "error")} prohibited this portfolio_image from being saved:"
      %ul
        - @portfolio_image.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
