= form_for @degree do |f|
  - if @degree.errors.any?
    #error_explanation
      %h2= "#{pluralize(@degree.errors.count, "error")} prohibited this degree from being saved:"
      %ul
        - @degree.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
