= form_for @portfolio_image_call_out do |f|
  - if @portfolio_image_call_out.errors.any?
    #error_explanation
      %h2= "#{pluralize(@portfolio_image_call_out.errors.count, "error")} prohibited this portfolio_image_call_out from being saved:"
      %ul
        - @portfolio_image_call_out.errors.full_messages.each do |message|
          %li= message

  .actions
    = f.submit 'Save'
