!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Gabriel Walsh
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:rel=>"stylesheet", :href=>"https://use.typekit.net/end4pnn.css"}
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper-outer
      .wrapper-inner
        - if @show_nav
          %main
            = render :partial => "components/header";
            = yield
            = render :partial => "components/footer";
          = render :partial => "components/side-nav";
        - else
          %main
            = yield
